body {
  margin: 0;
  padding: 0;
  border: none;
  font-family: 'Poppins';
  font-size: 14px;
  color: #626262;
  background: #d8dbe2;
  letter-spacing: 0em;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}

.social a span {
  font-size: 24px !important;
  /* color: red !important; */
}